---
import CardLaunch from "./ui/CardLaunch.astro";
import { getLatestLaunches } from "../services/spacex";

const launches = await getLatestLaunches();
---

<section class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  {
    launches?.map(({id , name, links, details, flight_number: flightNumber, success}) => (
      <CardLaunch
        id={id}
        name={name}
        details={details || "No details available"}
        success={success}
        flightNumber={flightNumber}
        img={links.patch.small}
      />
    ))
  }
</section>
